<!DOCTYPE html>
<html lang="en">

<head>
  <script type="text/javascript" src="/eel.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="{{ url_for('static', filename='main.png') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='player.css') }}">
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <!--  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <title>Dusic - Player</title>
</head>

<body>

    <div id="main">

        <div id="coverart">
            <img src= {{ thumb }} alt="">
        </div>



        <div id="control">
            <a class="nono" href={{ vidurl }} target="_blank">
            <h3>
                {{ name }}
            </h3>
        </a>
        </div>
        
        <div id="control">
            <a class="nono" href={{ chrurl }} target="_blank">
            <h4>
              By - {{ artist }}
            </h4></a>
        </div>

        <div id="player">        
            <audio preload="auto" id="audio" loop controls >
                <source src= "{{ url_for('static',filename= audio) }}" >
            </audio>
        </div>
        <div id="search">
            <a href="/app"><i class="fa fa-search"></i></a>
        </div>

        


    </div>

    
    <span style="color: black;" id="foot" >
        <a href="/indev" target="_blank"> TheAlphaOnes </a> productions</span>
</body>

</html>