
body{
  display: flex;
  justify-content: center;
  background: #ff564c;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 2px 4px black;
  user-select: none
}

img {
    
  /* user-drag: none; */
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#main {
  border: black solid;
  background: #111;
  margin: 8px;
  padding: 0;
  color: white;
  width: 340px;
  height: 95vh;
  transition: all 0.3s ease-in;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 4);
}
#coverart img {
  box-shadow: 0px 0px 5px white;
}
#coverart{
 align-items: center;
  border-radius: 10px;
  background-color: black;
  height: 60%;
  display: flex;
  justify-content: center;
}

#coverart img{
  /* padding: %; */
  border-radius: 25px;
  /* width: 320px; */
  min-height: 50%;
  max-height: 55%;
  max-width: 320px;
}

#control{
  display: flex;
  justify-content: center;

}
#player{
  display: flex;
  justify-content: center;
  
}

audio{
  text-decoration: none;
  text-shadow: none;
  border: #ff564c 2px solid;
  padding: 0;
  border-radius: 35px;
  box-shadow: 0px 4px 15px black;
}

button{
  background: none;
  padding: 0%;
  margin: 0;
  border: none;
}
