body{
  display: flex;
  justify-content: center;
  background: #282a36;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 2px 4px black;
  user-select: none;
  position: relative;
  height: 97vh;
}

img {
    
  /* user-drag: none; */
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.nono{
  text-decoration: none;
  color: whitesmoke;
}

.nono:hover{
  color: rgb(194, 183, 183);
}

#main {
  border: black solid;
  background: #111;
  margin: 8px;
  padding: 0;
  color: white;
  width: 340px;
  height: 94vh;
  transition: all 0.3s ease-in;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 4);
  max-height: 800px;
  position: absolute;
  top: 48%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#coverart img {
  box-shadow: 0px 0px 5px white;
}
#coverart{
 align-items: center;
  border-radius: 10px;
  background-color: black;
  height: 60%;
  display: flex;
  justify-content: center;
}

#coverart img{
  /* padding: %; */
  border-radius: 25px;
  /* width: 320px; */
  min-height: 50%;
  max-height: 55%;
  max-width: 320px;
}

#control{
  display: flex;
  justify-content: center;

}
#player{
  display: flex;
  justify-content: center;
  
}

audio{
  text-decoration: none;
  text-shadow: none;
  border: #ff564c 2px solid;
  padding: 0;
  border-radius: 35px;
  box-shadow: 0px 4px 15px black;
  margin-bottom: 40px;
  height: 40px;
}

button{
  background: none;
  padding: 0%;
  margin: 0;
  border: none;
}


#search a{
  margin-left: 15px;
  text-decoration: none;
  color: #ff564c;
  position: absolute;
  bottom: 2%;
  font-size: 20px;
}

#search a:hover{
  color: #883530;

}

#foot{
  text-shadow: none;
  position: fixed;
  bottom: 0;
  right: 3%;
  font-size: 12px;
}

#foot a{
  text-decoration: none;
  color: #50fa7b;
  
}

#foot a:hover{
  color: black;
}


